/* .container {
    display: flex;

    padding: 0px;
    flex-wrap: wrap;

    justify-content: center;

} */
.third-section {
    color: #ffffff;
    text-align: center;
    margin-bottom: 100vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.left-side-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 50% !important;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
}

.right-side-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* Responsividade Tablet | Mobile */
@media (max-width: 768px) {
    .third-section {
        margin-bottom: 150vw;
    }

    .left-side,
    .right-side {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .gap-20 {
        gap: 2rem;
    }

    /* .left-side-content,
    .right-side-content {
        width: 90%;
    } */
}

@media (max-width: 480px) {
    .third-section {
        margin-bottom: 100%;
    }

    .left-side,
    .right-side {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}